<div class="row">

    <div class="col-lg-12 col-md-12">
        <div class="dashboard-list-box  margin-top-0">
            <div class="headline-with-filters list-view">

                <div class="booking-requests-filter">
                    <input type="hidden" id="dashboard_type" name="dashboard_type" value="user">
                    <input type="hidden" id="listing_status" value="approved">

                    <div id="booking-date-range-enabler">
                        <span>Pick a Date</span>
                    </div>
                    <div id="booking-date-range" style="display: none;">
                        <span></span>
                    </div>
                </div>

                <h4>Your Bookings <i class="fa fa-circle-o-notch fa-spin booking-loading-icon"></i> </h4>
            </div>
            <ul id="no-bookings-information" style="display: none">
                We haven't found any bookings for that criteria </ul>
            <ul id="booking-requests">
                <li class="user-booking expired-booking" id="booking-list-10974">
                    <div class="list-box-listing bookings">
                        <div class="list-box-listing-img"><img alt=""
                                src="https://secure.gravatar.com/avatar/b74d5656070ae78cea17aaf811217826?s=70&amp;d=mm&amp;r=g"
                                srcset="https://secure.gravatar.com/avatar/b74d5656070ae78cea17aaf811217826?s=140&amp;d=mm&amp;r=g 2x"
                                class="avatar avatar-70 photo" height="70" width="70" loading="lazy" decoding="async">
                        </div>
                        <div class="list-box-listing-content">
                            <div class="inner">
                                <h3 id="title"><a href="https://listeo.pro/listing/georges-barber-shop/">George’s Barber
                                        Shop</a> <span class="booking-status"
                                        style="background-color:gray">Expired</span></h3>
                                <div class="inner-booking-list">
                                    <h5>Booking Date:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="date">
                                            February 23, 2024 at
                                            8:00 am - 9:00 am</li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list inner-booking-list-guests">
                                    <h5>Booking Details:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="details">
                                            1 Guest </li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Booking Location:</h5>
                                    <ul class="booking-list">
                                        Auburndale, Queens, Nowy Jork, Stany Zjednoczone
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Price:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="price">
                                            $ 20.00 </li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Client:</h5>
                                    <ul class="booking-list" id="client">
                                        <li id="name">Tom Wilson</li>
                                        <li id="email"><a href="mailto:guest@listeo.pro">guest@listeo.pro</a></li>
                                        <li id="phone"><a href="tel:"></a></li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Extra Services:</h5>
                                    <ul class="listeo_booked_services_list">
                                        <li>Men's / Boy's Haircuts<span class="services-list-price-tag">$ 20</span></li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Booking requested on:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="price">
                                            February 15, 2024 at
                                            1:18 pm </li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Payment due:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="price">
                                            February 17, 2024 at
                                            1:18 pm </li>
                                    </ul>
                                </div>

                                <a href="#small-dialog" data-recipient="2030" data-booking_id="booking_10974"
                                    class="booking-message rate-review popup-with-zoom-anim"><i
                                        class="sl sl-icon-envelope-open"></i> Send Message</a>
                            </div>
                        </div>
                    </div>
                    <div class="buttons-to-right booking-buttons-actions">
                        <a href="#" class="button gray delete" data-booking_id="10974"><i class="sl sl-icon-trash"></i>
                            Delete</a>
                    </div>
                </li>
                <li class="user-booking approved-booking" id="booking-list-10972">
                    <div class="list-box-listing bookings">
                        <div class="list-box-listing-img"><img alt=""
                                src="https://secure.gravatar.com/avatar/b74d5656070ae78cea17aaf811217826?s=70&amp;d=mm&amp;r=g"
                                srcset="https://secure.gravatar.com/avatar/b74d5656070ae78cea17aaf811217826?s=140&amp;d=mm&amp;r=g 2x"
                                class="avatar avatar-70 photo" height="70" width="70" loading="lazy" decoding="async">
                        </div>
                        <div class="list-box-listing-content">
                            <div class="inner">
                                <h3 id="title"><a href="https://listeo.pro/listing/george-burton-life-coach/">George
                                        Burton – Life Coach</a> <span class="booking-status">Approved</span> <span
                                        class="booking-status paid">Paid</span></h3>
                                <div class="inner-booking-list">
                                    <h5>Booking Date:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="date">
                                            February 21, 2024 at
                                            9:00 am - 11:00 am</li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list inner-booking-list-guests">
                                    <h5>Booking Details:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="details">
                                            1 Guest </li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Booking Location:</h5>
                                    <ul class="booking-list">
                                        Nowy Jork, Stany Zjednoczone
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Price:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="price">
                                            $ 100.00 </li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Client:</h5>
                                    <ul class="booking-list" id="client">
                                        <li id="name">Tom Wilson</li>
                                        <li id="email"><a href="mailto:guest@listeo.pro">guest@listeo.pro</a></li>
                                        <li id="phone"><a href="tel:0664433277">0664433277</a></li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Booking requested on:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="price">
                                            February 15, 2024 at
                                            11:40 am </li>
                                    </ul>
                                </div>

                                <a href="#small-dialog" data-recipient="5" data-booking_id="booking_10972"
                                    class="booking-message rate-review popup-with-zoom-anim"><i
                                        class="sl sl-icon-envelope-open"></i> Send Message</a>
                            </div>
                        </div>
                    </div>
                    <div class="buttons-to-right booking-buttons-actions">
                    </div>
                </li>
                <li class="user-booking waiting-booking" id="booking-list-10971">
                    <div class="list-box-listing bookings">
                        <div class="list-box-listing-img"><img alt=""
                                src="https://secure.gravatar.com/avatar/b74d5656070ae78cea17aaf811217826?s=70&amp;d=mm&amp;r=g"
                                srcset="https://secure.gravatar.com/avatar/b74d5656070ae78cea17aaf811217826?s=140&amp;d=mm&amp;r=g 2x"
                                class="avatar avatar-70 photo" height="70" width="70" loading="lazy" decoding="async">
                        </div>
                        <div class="list-box-listing-content">
                            <div class="inner">
                                <h3 id="title"><a href="https://listeo.pro/listing/sticky-band/">Sticky Band</a> <span
                                        class="booking-status pending">Waiting for owner confirmation</span></h3>
                                <div class="inner-booking-list">
                                    <h5>Booking Date:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="date">
                                            October 6, 2024 at 12:17 pm - January 6, 2025 at 4:40 pm </li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list inner-booking-list-guests">
                                    <h5>Booking Details:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="details">
                                            1 Ticket </li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Booking Location:</h5>
                                    <ul class="booking-list">
                                        43 Collamore Terrace, West Orange, NJ 07052, Stany Zjednoczone
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Price:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="price">
                                            $ 10.00 </li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Client:</h5>
                                    <ul class="booking-list" id="client">
                                        <li id="name">Tom Wilson</li>
                                        <li id="email"><a href="mailto:guest@listeo.pro">guest@listeo.pro</a></li>
                                        <li id="phone"><a href="tel:"></a></li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Booking requested on:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="price">
                                            February 14, 2024 at
                                            3:41 pm </li>
                                    </ul>
                                </div>

                                <a href="#small-dialog" data-recipient="2031" data-booking_id="booking_10971"
                                    class="booking-message rate-review popup-with-zoom-anim"><i
                                        class="sl sl-icon-envelope-open"></i> Send Message</a>
                            </div>
                        </div>
                    </div>
                    <div class="buttons-to-right booking-buttons-actions">
                        <a href="#" class="button gray reject" data-booking_id="10971"><i class="sl sl-icon-close"></i>
                            Cancel</a>
                    </div>
                </li>
                <li class="user-booking approved-booking" id="booking-list-10969">
                    <div class="list-box-listing bookings">
                        <div class="list-box-listing-img"><img alt=""
                                src="https://secure.gravatar.com/avatar/b74d5656070ae78cea17aaf811217826?s=70&amp;d=mm&amp;r=g"
                                srcset="https://secure.gravatar.com/avatar/b74d5656070ae78cea17aaf811217826?s=140&amp;d=mm&amp;r=g 2x"
                                class="avatar avatar-70 photo" height="70" width="70" loading="lazy" decoding="async">
                        </div>
                        <div class="list-box-listing-content">
                            <div class="inner">
                                <h3 id="title"><a href="https://listeo.pro/listing/sunny-apartment/">Sunny Apartment</a>
                                    <span class="booking-status">Approved</span> <span
                                        class="booking-status paid">Paid</span></h3>
                                <div class="inner-booking-list">
                                    <h5>Booking Date:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="date">March 8, 2024 - March 9, 2024</li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list inner-booking-list-guests">
                                    <h5>Booking Details:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="details">
                                            3 Guests </li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Booking Location:</h5>
                                    <ul class="booking-list">
                                        630 Dorothea Lane, Elmont, NY 11003, Stany Zjednoczone
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Price:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="price">
                                            $ 94.00 </li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Client:</h5>
                                    <ul class="booking-list" id="client">
                                        <li id="name">Tom Wilson</li>
                                        <li id="email"><a href="mailto:guest@listeo.pro">guest@listeo.pro</a></li>
                                        <li id="phone"><a href="tel:0664433277">0664433277</a></li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Booking requested on:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="price">
                                            February 14, 2024 at
                                            12:57 pm </li>
                                    </ul>
                                </div>

                                <a href="#small-dialog" data-recipient="5" data-booking_id="booking_10969"
                                    class="booking-message rate-review popup-with-zoom-anim"><i
                                        class="sl sl-icon-envelope-open"></i> Send Message</a>
                            </div>
                        </div>
                    </div>
                    <div class="buttons-to-right booking-buttons-actions">
                    </div>
                </li>
                <li class="user-booking approved-booking" id="booking-list-10963">
                    <div class="list-box-listing bookings">
                        <div class="list-box-listing-img"><img alt=""
                                src="https://secure.gravatar.com/avatar/b74d5656070ae78cea17aaf811217826?s=70&amp;d=mm&amp;r=g"
                                srcset="https://secure.gravatar.com/avatar/b74d5656070ae78cea17aaf811217826?s=140&amp;d=mm&amp;r=g 2x"
                                class="avatar avatar-70 photo" height="70" width="70" loading="lazy" decoding="async">
                        </div>
                        <div class="list-box-listing-content">
                            <div class="inner">
                                <h3 id="title"><a href="https://listeo.pro/listing/george-burton-life-coach/">George
                                        Burton – Life Coach</a> <span class="booking-status">Approved</span> <span
                                        class="booking-status paid">Paid</span></h3>
                                <div class="inner-booking-list">
                                    <h5>Booking Date:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="date">
                                            March 1, 2024 at
                                            12:00 am - 2:00 pm</li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list inner-booking-list-guests">
                                    <h5>Booking Details:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="details">
                                            1 Guest </li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Booking Location:</h5>
                                    <ul class="booking-list">
                                        Nowy Jork, Stany Zjednoczone
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Price:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="price">
                                            $ 100.00 </li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Client:</h5>
                                    <ul class="booking-list" id="client">
                                        <li id="name">Tom Wilson</li>
                                        <li id="email"><a href="mailto:guest@listeo.pro">guest@listeo.pro</a></li>
                                        <li id="phone"><a href="tel:0664433277">0664433277</a></li>
                                    </ul>
                                </div>
                                <div class="inner-booking-list">
                                    <h5>Booking requested on:</h5>
                                    <ul class="booking-list">
                                        <li class="highlighted" id="price">
                                            February 13, 2024 at
                                            2:11 am </li>
                                    </ul>
                                </div>

                                <a href="#small-dialog" data-recipient="5" data-booking_id="booking_10963"
                                    class="booking-message rate-review popup-with-zoom-anim"><i
                                        class="sl sl-icon-envelope-open"></i> Send Message</a>
                            </div>
                        </div>
                    </div>
                    <div class="buttons-to-right booking-buttons-actions">
                    </div>
                </li>
            </ul>
        </div>

        <div class="pagination-container ">
            <nav class="pagination margin-top-30">
                <ul class="pagination">
                    <li class="current" data-paged="1"><a href="#">1 </a></li>
                    <li data-paged="2"><a href="#">2</a></li>
                    <li data-paged="3"><a href="#">3</a></li>
                    <li data-paged="next"><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                </ul>
            </nav>
        </div>

        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
            <div class="small-dialog-header">
                <h3>Send Message</h3>
            </div>
            <div class="message-reply margin-top-0">
                <form action="" id="send-message-from-widget" data-booking_id="">
                    <textarea data-recipient="" data-referral="" required="" cols="40" id="contact-message"
                        name="message" rows="3" placeholder="Your message"></textarea>
                    <button class="button">
                        <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>Send Message</button>
                    <div class="notification closeable success margin-top-20"></div>
                </form>
            </div>
        </div>

        <a style="display:none;" href="#small-dialog" class="send-message-to-owner button popup-with-zoom-anim">
            <i class="sl sl-icon-envelope-open"></i> Send Message</a>
    </div>
</div>