{% extends 'account/parts/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Change Password' %}
{% endblock %}


{% block content %}

{% if messages %}
    <div class="notification notice closeable margin-bottom-35">
        {% for message in messages %}
        <p>{{ message }}</p><a class="close"></a>
        {% endfor %}
    </div>
{% endif %}

<div class="dashboard-list-box margin-top-0 col-lg-8 col-md-12">
    <h4 class="gray">Change Password</h4>
    <div class="dashboard-list-box-static">

        <!-- <div class="my-profile"> -->


            <form method="post">

                {% csrf_token %}

                <label for="id_{{form.old_password.name}}">
                    {{ form.old_password.label }}
                    <i class="tip" data-tip-content="{{ form.old_password.support }}"></i>
                </label>
                {{ form.old_password }}
                <span style="color: #f92442; font-size: medium;">{{ form.old_password.errors }}</span>


                <label for="id_{{form.new_password1.name}}">
                    {{ form.new_password1.label }}
                    <i class="tip" data-tip-content="{{ form.new_password1.support }}"></i>
                </label>
                {{ form.new_password1 }}
                <span style="color: #f92442; font-size: medium;">{{ form.new_password1.errors }}</span>


                <label for="id_{{form.new_password2.name}}">
                    {{ form.new_password2.label }}
                    <i class="tip" data-tip-content="{{ form.new_password2.support }}"></i>
                </label>
                {{ form.new_password2 }}
                <span style="color: #f92442; font-size: medium;">{{ form.new_password2.errors }}</span>

                <button type="submit" class="margin-top-20 button">Save Changes</button> 
            </form>


        <!-- </div> -->
    </div>
</div>

<div class="col-lg-4 col-md-12">
    <div class="dashboard-list-box margin-top-0">
        <h4 class="gray">{% trans 'To Help' %}</h4>
        <div style="display: flex; justify-content: center; padding-top: 30px; background-color: #fff;">
            {{form.new_password1.help_text}}
        </div>
    </div>
</div>

{% endblock %}