{% load static %}
{% load i18n %}
<section 
    class="elementor-section elementor-top-section elementor-element elementor-element-3d9c108d elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
    data-id="3d9c108d" data-element_type="section" id="aboutPage"
    data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-background-overlay" style="background-image: url('{{ dinamic.about.url }}');"></div>
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2806138b"
                data-id="2806138b" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <section
                            class="elementor-section elementor-inner-section elementor-element elementor-element-368fe997 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="368fe997" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-inner-column elementor-element elementor-element-69e37802"
                                        data-id="69e37802" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-2fa302a4 elementor-widget elementor-widget-heading"
                                                    data-id="2fa302a4" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h2 class="elementor-heading-title elementor-size-large" style="text-align: center;">
                                                            {% trans 'About' %}
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-7f084b36 elementor-widget elementor-widget-heading"
                                                    data-id="7f084b36" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <p class="elementor-heading-title elementor-size-default" style="text-align: justify;">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            {{ dinamic.about|safe }}</p>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-3c70b05c elementor-widget elementor-widget-button"
                                                    data-id="3c70b05c" data-element_type="widget"
                                                    data-widget_type="button.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-button-wrapper">
                                                            <a class="elementor-button elementor-button-link elementor-size-sm"
                                                                href="https://utas.uz/">
                                                                <span class="elementor-button-content-wrapper">
                                                                    <span class="elementor-button-text">Get Started</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-784c77d6"
                                        data-id="784c77d6" data-element_type="column">
                                        <div class="elementor-column-wrap">
                                            <div class="elementor-widget-wrap">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>