{% load i18n %}

{% load static %}
<section
    class="elementor-section elementor-top-section elementor-element elementor-element-dc9f309 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
    data-id="dc9f309" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5f4a505f"
                data-id="5f4a505f" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-5cdecaad elementor-widget elementor-widget-listeo-homebanner-simple-slider"
                            data-id="5cdecaad" data-element_type="widget"
                            data-widget_type="listeo-homebanner-simple-slider.default">
                            <div class="elementor-widget-container">
                                <div
                                    class="main-search-container  elementor-main-search-container  plain-color main-search-container-with-slider main-search-simple-slider">

                                    <div class="container msps-container">
                                        <div class="main-search-photo-slider">
                                            <div class="msps-slider-container">
                                                <div class="msps-slider alt">
                                                    <div class="item">
                                                    
                                                    <div class="box">
                                                        <video autoplay loop muted plays-inline class="video" >
                                                            <source src="{% static 'web/video/video.mp4' %}" type="video/mp4">
                                                            <!-- <source src="{% static 'web/back.mp4' %}" type="video/mp4"> -->

                                                        </video>
                                                    </div>
                                                    
                                                
                                                    </div>
                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="main-search-inner">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h1 style="color: aliceblue;">{{ dinamic.title }}</h1>
                                                        
                                                        <a class="button" href="{% url 'journals' %}">
                                                            {{ dinamic.journal }} &nbsp;&nbsp;<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                                        </a>
                                                        <a class="button" href="{% url 'coming_soon' %}" style="background-color: #38b653;">
                                                            {{ dinamic.article }} &nbsp;&nbsp;<i class="fa fa-envelope" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        {% include 'home/parts/search.html' %}

                                    </div>
                                </div>
                            </div>
                            <script>
                                var typed = new Typed('.typed-words', {
                                    strings: ["Attractions", " Restaurants", " Hotels"],
                                    typeSpeed: 70,
                                    backSpeed: 80,
                                    backDelay: 4000,
                                    startDelay: 1000,
                                    loop: true,
                                    showCursor: true
                                });
                            </script>
                            <script>
                                /* ----------------- Start Document ----------------- */
                                (function ($) {
                                    "use strict";

                                    $(document).ready(function () {

                                        $('.filter-tab').click(function () {
                                            $(this)
                                                .addClass('active')
                                                .siblings()
                                                .removeClass('active');
                                        });


                                        $('.msps-slider').slick({
                                            infinite: true,
                                            slidesToShow: 1,
                                            slidesToScroll: 1,
                                            dots: false,
                                            arrows: true,
                                            autoplay: true,
                                            autoplaySpeed: 4000,
                                            centerMode: true,
                                            speed: 1000,
                                            fade: true,
                                            cssEase: 'linear'
                                        });

                                        $(".msps-slider").slick('slickGoTo', 1);
                                    });

                                })(this.jQuery);
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>