antiorm
asgiref
db
Django
django-ckeditor
django-cors-headers
django-cuser
django-environ
django-jazzmin
django-js-asset
django-modeltranslation
django-suit
django-tinymce
gunicorn
modeltranslation
packaging
Pillow
psycopg2
python-dotenv
random-username
sqlparse
typing_extensions
tzdata
