asgiref
dj-database-url
Django
django-ckeditor
django-cors-headers
django-jazzmin
django-js-asset
django-modeltranslation
modeltranslation
mysqlclient
pillow
python-dotenv
sqlparse
typing_extensions
tzdata
