{% load static %}
{% load i18n %}
<section id="statisticPage"
    class="elementor-section elementor-top-section elementor-element elementor-element-694facb5 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
    data-id="694facb5" data-element_type="section"
    data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3e8d441c"
                data-id="3e8d441c" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <section
                            class="elementor-section elementor-inner-section elementor-element elementor-element-3294e088 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="3294e088" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-144168b0"
                                        data-id="144168b0" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-29166195 elementor-widget elementor-widget-listeo-headline"
                                                    data-id="29166195" data-element_type="widget"
                                                    data-widget_type="listeo-headline.default">
                                                    <div class="elementor-widget-container">
                                                        <h3 style="text-align:left;"
                                                            class="headline  headline-aligned-to-left  headline-box ">
                                                            {% trans 'Statistika' %} </h3>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-100e3a05 elementor-widget elementor-widget-listeo-taxonomy-grid"
                                                    data-id="100e3a05" data-element_type="widget"
                                                    data-widget_type="listeo-taxonomy-grid.default">
                                                    <div class="elementor-widget-container">
                                                        <div
                                                            class="categories-boxes-container-alt margin-top-5 margin-bottom-30">
                                                            <a href="{% url 'journals' %}"
                                                                class="category-small-box-alt">
                                                                <i class="listeo-svg-icon-box-grid">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book"
                                                                        viewBox="0 0 16 16">
                                                                        <path
                                                                            d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                                                                    </svg>
                                                                </i>
                                                                <h4>Journals</h4>
                                                                <span class="category-box-counter-alt">{{ statistic.journals }}</span>
                                                                <img decoding="async"
                                                                src="https://undsci.berkeley.edu/wp-content/uploads/2022/06/journals.jpg">
                                                            </a>
                                                            
                                                            <a href="#"
                                                                class="category-small-box-alt">
                                                                <i class="listeo-svg-icon-box-grid">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people"
                                                                    viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
                                                                </svg>
                                                                </i>
                                                                <h4>Site Users</h4>
                                                                <span class="category-box-counter-alt">{{ statistic.users }}</span>
                                                                <img decoding="async"
                                                                    src="https://imageio.forbes.com/specials-images/imageserve/605c98b1b87a6e5f9b30ceab/Getty/960x0.jpg?height=474&width=711&fit=bounds">
                                                            </a>
                                                            <a href="#"
                                                                class="category-small-box-alt">
                                                                <i class="listeo-svg-icon-box-grid">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-window-stack"
                                                                        viewBox="0 0 16 16">
                                                                        <path
                                                                            d="M4.5 6a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1M6 6a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1m2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0" />
                                                                        <path
                                                                            d="M12 1a2 2 0 0 1 2 2 2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2 2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zM2 12V5a2 2 0 0 1 2-2h9a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1m1-4v5a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V8zm12-1V5a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v2z" />
                                                                    </svg>
                                                                </i>
                                                                <h4>All Articles</h4>
                                                                <span class="category-box-counter-alt">{{ statistic.article }}</span>
                                                                <img decoding="async"
                                                                    src="https://www.interactive-education.gr/media/images/articles4/account-excel.jpg">
                                                                </a>
                                                            <a href="#"
                                                                class="category-small-box-alt">
                                                                <i class="listeo-svg-icon-box-grid">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders"
                                                                    viewBox="0 0 16 16">
                                                                    <path fill-rule="evenodd"
                                                                        d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z" />
                                                                </svg>
                                                                
                                                                </i>
                                                                <h4>Processing</h4>
                                                                <span class="category-box-counter-alt">0</span>
                                                                <img decoding="async"
                                                                    src="https://staffordshire.everyonehealth.co.uk/wp-content/uploads/2023/02/shutterstock_714269650-345x230.jpg">
                                                            </a>
                                                            <a href="#"
                                                                class="category-small-box-alt">
                                                                <i class="listeo-svg-icon-box-grid">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check"
                                                                        viewBox="0 0 16 16">
                                                                        <path fill-rule="evenodd"
                                                                            d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                                                                        <path
                                                                            d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z" />
                                                                    </svg>
                                                                </i>
                                                                <h4>Checked Articles</h4>
                                                                <span class="category-box-counter-alt">{{ statistic.checked }}</span>
                                                                <img decoding="async"
                                                                    src="https://thumbs.dreamstime.com/b/lista-%C3%B6ver-medicinska-formul%C3%A4r-med-resultatdata-plana-symboldesignvektor-symbolvektorer-steg-191834303.jpg">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>