<div id="listing-reviews" class="listing-section">
    <h3 class="listing-desc-headline margin-top-75 margin-bottom-20">Reviews <span class="reviews-amount">(4)</span>
    </h3>

    <div class="rating-overview">
        <div class="rating-overview-box">
            <span class="rating-overview-box-total">3.9</span>
            <span class="rating-overview-box-percent">out of 5.0</span>
            <div class="star-rating" data-rating="3.88"></div>
        </div>
        <div class="rating-bars">
            <div class="rating-bars-item">
                <span class="rating-bars-name">Service <i class="tip"
                        data-tip-content="Quality of customer service and attitude to work with you"></i>
                </span>
                <span class="rating-bars-inner">
                    <span class="rating-bars-rating" data-rating="4.25">
                        <span class="rating-bars-rating-inner"></span>
                    </span>
                    <strong>4.2</strong>
                </span>
            </div>
            <div class="rating-bars-item">
                <span class="rating-bars-name">Value for Money <i class="tip"
                        data-tip-content="Overall experience received for the amount spent"></i> </span>
                <span class="rating-bars-inner">
                    <span class="rating-bars-rating" data-rating="4">
                        <span class="rating-bars-rating-inner"></span>
                    </span>
                    <strong>4.0</strong>
                </span>
            </div>
            <div class="rating-bars-item">
                <span class="rating-bars-name">Location <i class="tip"
                        data-tip-content="Visibility, commute or nearby parking spots"></i> </span>
                <span class="rating-bars-inner">
                    <span class="rating-bars-rating" data-rating="3.5">
                        <span class="rating-bars-rating-inner"></span>
                    </span>
                    <strong>3.5</strong>
                </span>
            </div>
            <div class="rating-bars-item">
                <span class="rating-bars-name">Cleanliness <i class="tip"
                        data-tip-content="The physical condition of the business"></i> </span>
                <span class="rating-bars-inner">
                    <span class="rating-bars-rating" data-rating="3.75">
                        <span class="rating-bars-rating-inner"></span>
                    </span>
                    <strong>3.8</strong>
                </span>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <section id="comments" class="comments listing-reviews">
        <ul class="comment-list">
            <li class="comment byuser comment-author-owner even thread-even depth-1" id="comment-9520">
                <div class="avatar"><img alt=""
                        src="../../avatar/fa30bc8456490156b8c74c33e5163016.png?s=70&#038;d=mm&#038;r=g"
                        srcset="../../avatar/fa30bc8456490156b8c74c33e5163016-1.png 2x?s=140&#038;d=mm&#038;r=g 2x"
                        class="avatar avatar-70 photo" height="70" width="70" loading="lazy" decoding="async">
                </div>
                <div class="comment-content">
                    <div class="arrow-comment"></div>
                    <div class="comment-by">
                        <h5>{{ author }}</h5> <span class="date"> August 10, 2022 at 1:01 pm
                        </span>
                        <div class="star-rating" data-rating="2.5"></div>
                    </div>
                    <p>Free</p>
                    <div class="review-images mfp-gallery-container">
                        <a href="../../wp-content/uploads/2018/11/8-1200x800.jpg" class="mfp-gallery"><img
                                src="../../wp-content/uploads/2018/11/8-150x150.jpg" alt=""></a>
                        <a href="../../wp-content/uploads/2018/11/9-1200x800.jpg" class="mfp-gallery"><img
                                src="../../wp-content/uploads/2018/11/9-150x150.jpg" alt=""></a>
                        <a href="../../wp-content/uploads/2018/11/10-1200x800.jpg" class="mfp-gallery"><img
                                src="../../wp-content/uploads/2018/11/10-150x150.jpg" alt=""></a>
                    </div>
                    <a href="#" id="review-9520" data-comment="9520" class="rate-review listeo_core-rate-review"><i
                            class="sl sl-icon-like"></i> Helpful
                        Review <span>51</span></a>
                </div>
            </li>
            <li class="comment byuser comment-author-sante odd alt thread-odd thread-alt depth-1" id="comment-25">
                <div class="avatar"><img alt=""
                        src="../../avatar/29f70d06e311a9e7068d3ede5fcb1c58.png?s=70&#038;d=mm&#038;r=g"
                        srcset="../../avatar/29f70d06e311a9e7068d3ede5fcb1c58-1.png 2x?s=140&#038;d=mm&#038;r=g 2x"
                        class="avatar avatar-70 photo" height="70" width="70" loading="lazy" decoding="async">
                </div>
                <div class="comment-content">
                    <div class="arrow-comment"></div>
                    <div class="comment-by">
                        <h5>Peter Sante</h5> <span class="date"> January 14, 2019 at 3:46 pm
                        </span>
                        <div class="star-rating" data-rating="4.25"></div>
                    </div>
                    <p>Clean and tidy apartment. Highly recommend! ????</p>
                    <a href="#" id="review-25" data-comment="25" class="rate-review listeo_core-rate-review"><i
                            class="sl sl-icon-like"></i> Helpful Review <span>595</span></a>
                </div>
                <ul class="children">
                    <li class="comment byuser comment-author-tomwilson bypostauthor even depth-2" id="comment-6116">
                        <div class="avatar"><img
                                src="../../wp-content/uploads/2023/06/cropped-user-profile-avatar-590x590-1-4.jpg"
                                class="avatar avatar-70 photo" width="70" height="70" alt="Tom Wilson"></div>
                        <div class="comment-content">
                            <div class="arrow-comment"></div>
                            <div class="comment-by">
                                <h5>Owner</h5>
                                <span class="date"> January 20, 2022 at 10:37 pm
                                </span>
                                <div class="star-rating" data-rating=""></div>
                            </div>
                            <p>Thanks!</p>
                            <a href="#" id="review-6116" data-comment="6116"
                                class="rate-review listeo_core-rate-review"><i class="sl sl-icon-like"></i>
                                Helpful Review </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="comment odd alt thread-even depth-1" id="comment-22">
                <div class="avatar"><img alt=""
                        src="../../avatar/682b29bb4ee73abd6272b470c515b560.png?s=70&#038;d=mm&#038;r=g"
                        srcset="../../avatar/682b29bb4ee73abd6272b470c515b560-1.png 2x?s=140&#038;d=mm&#038;r=g 2x"
                        class="avatar avatar-70 photo" height="70" width="70" loading="lazy" decoding="async">
                </div>
                <div class="comment-content">
                    <div class="arrow-comment"></div>
                    <div class="comment-by">
                        <h5>Tom Danks</h5> <span class="date"> January 10, 2019 at 9:48 am
                        </span>
                        <div class="star-rating" data-rating="4"></div>
                    </div>
                    <p>The location is fantastic. Even though our windows were to the square the room was quiet.
                        Highly
                        recommend. Cafes, bakeries, grocery, shops within a stones throw of room. ????</p>
                    <a href="#" id="review-22" data-comment="22" class="rate-review listeo_core-rate-review"><i
                            class="sl sl-icon-like"></i> Helpful Review <span>408</span></a>
                </div>
                <ul class="children">
                    <li class="comment byuser comment-author-tomwilson bypostauthor even depth-2" id="comment-24">
                        <div class="avatar"><img
                                src="../../wp-content/uploads/2023/06/cropped-user-profile-avatar-590x590-1-4.jpg"
                                class="avatar avatar-70 photo" width="70" height="70" alt="vasterad"></div>
                        <div class="comment-content">
                            <div class="arrow-comment"></div>
                            <div class="comment-by">
                                <h5>Owner</h5>
                                <span class="date"> January 10, 2019 at 10:33 am
                                </span>
                                <div class="star-rating" data-rating=""></div>
                            </div>
                            <p>Thanks!</p>
                            <a href="#" id="review-24" data-comment="24" class="rate-review listeo_core-rate-review"><i
                                    class="sl sl-icon-like"></i>
                                Helpful Review <span>39</span></a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="comment byuser comment-author-simon-taylor odd alt thread-odd thread-alt depth-1"
                id="comment-10">
                <div class="avatar"><img alt="" src="../../wp-content/uploads/2021/12/cropped-av-150x150.png"
                        srcset="../../wp-content/uploads/2021/12/cropped-av-150x150.png 2x"
                        class="avatar avatar-70 photo" height="70" width="70" loading="lazy" decoding="async">
                </div>
                <div class="comment-content">
                    <div class="arrow-comment"></div>
                    <div class="comment-by">
                        <h5>John Poe</h5> <span class="date"> January 2, 2019 at 2:18 pm
                        </span>
                        <div class="star-rating" data-rating="4.75"></div>
                    </div>
                    <p>Great Apartment for me and my wife! She loved it and thought it was really cute. Pretty
                        spacious
                        for the price. Comfy bed, and sofa. Comes with great amenities such as a washer and
                        dryer, space
                        heater, full kitchen, big bath tub that fits 2 small sized individuals</p>
                    <a href="#" id="review-10" data-comment="10" class="rate-review listeo_core-rate-review"><i
                            class="sl sl-icon-like"></i> Helpful Review <span>249</span></a>
                </div>
                <ul class="children">
                    <li class="comment byuser comment-author-tomwilson bypostauthor even depth-2" id="comment-11">
                        <div class="avatar"><img
                                src="../../wp-content/uploads/2023/06/cropped-user-profile-avatar-590x590-1-4.jpg"
                                class="avatar avatar-70 photo" width="70" height="70" alt="vasterad"></div>
                        <div class="comment-content">
                            <div class="arrow-comment"></div>
                            <div class="comment-by">
                                <h5>Owner</h5>
                                <span class="date"> January 2, 2019 at 2:23 pm
                                </span>
                                <div class="star-rating" data-rating=""></div>
                            </div>
                            <p>Thanks for kind review!</p>
                            <a href="#" id="review-11" data-comment="11" class="rate-review listeo_core-rate-review"><i
                                    class="sl sl-icon-like"></i>
                                Helpful Review </a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </section>

    <div class="clearfix"></div>
</div>

<div id="add-review" class="add-review-box">

    <h3 class="listing-desc-headline margin-bottom-20">Add Review</h3>
    <div id="respond" class="comment-respond">
        <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow"
                    id="cancel-comment-reply-link" href="index.htm#respond" style="display:none;">Cancel
                    reply</a></small></h3>
        <form action="https://listeo.pro/wp-comments-post.php" method="post" id="commentform" class="comment-form"
            novalidate=""></form>
        <form action="https://listeo.pro/wp-comments-post.php" method="POST" enctype="multipart/form-data"
            id="commentform" class="comment-form">
            <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span>
                <span class="required-field-message">Required fields are marked <span class="required">*</span></span>
            </p>
            <div class="sub-ratings-container">

                <div class="add-sub-rating">
                    <div class="sub-rating-title">Service
                        <i class="tip" data-tip-content="Quality of customer service and attitude to work with you"></i>
                    </div>
                    <div class="sub-rating-stars">

                        <div class="clearfix"></div>
                        <div class="leave-rating">
                            <input type="radio" name="service" id="rating-service-5" value="5">
                            <label for="rating-service-5" class="fa fa-star"></label>
                            <input type="radio" name="service" id="rating-service-4" value="4">
                            <label for="rating-service-4" class="fa fa-star"></label>
                            <input type="radio" name="service" id="rating-service-3" value="3">
                            <label for="rating-service-3" class="fa fa-star"></label>
                            <input type="radio" name="service" id="rating-service-2" value="2">
                            <label for="rating-service-2" class="fa fa-star"></label>
                            <input type="radio" name="service" id="rating-service-1" value="1">
                            <label for="rating-service-1" class="fa fa-star"></label>
                        </div>
                    </div>
                </div>

                <div class="add-sub-rating">
                    <div class="sub-rating-title">Value for Money
                        <i class="tip" data-tip-content="Overall experience received for the amount spent"></i>
                    </div>
                    <div class="sub-rating-stars">

                        <div class="clearfix"></div>
                        <div class="leave-rating">
                            <input type="radio" name="value-for-money" id="rating-value-for-money-5" value="5">
                            <label for="rating-value-for-money-5" class="fa fa-star"></label>
                            <input type="radio" name="value-for-money" id="rating-value-for-money-4" value="4">
                            <label for="rating-value-for-money-4" class="fa fa-star"></label>
                            <input type="radio" name="value-for-money" id="rating-value-for-money-3" value="3">
                            <label for="rating-value-for-money-3" class="fa fa-star"></label>
                            <input type="radio" name="value-for-money" id="rating-value-for-money-2" value="2">
                            <label for="rating-value-for-money-2" class="fa fa-star"></label>
                            <input type="radio" name="value-for-money" id="rating-value-for-money-1" value="1">
                            <label for="rating-value-for-money-1" class="fa fa-star"></label>
                        </div>
                    </div>
                </div>

                <div class="add-sub-rating">
                    <div class="sub-rating-title">Location
                        <i class="tip" data-tip-content="Visibility, commute or nearby parking spots"></i>
                    </div>
                    <div class="sub-rating-stars">

                        <div class="clearfix"></div>
                        <div class="leave-rating">
                            <input type="radio" name="location" id="rating-location-5" value="5">
                            <label for="rating-location-5" class="fa fa-star"></label>
                            <input type="radio" name="location" id="rating-location-4" value="4">
                            <label for="rating-location-4" class="fa fa-star"></label>
                            <input type="radio" name="location" id="rating-location-3" value="3">
                            <label for="rating-location-3" class="fa fa-star"></label>
                            <input type="radio" name="location" id="rating-location-2" value="2">
                            <label for="rating-location-2" class="fa fa-star"></label>
                            <input type="radio" name="location" id="rating-location-1" value="1">
                            <label for="rating-location-1" class="fa fa-star"></label>
                        </div>
                    </div>
                </div>

                <div class="add-sub-rating">
                    <div class="sub-rating-title">Cleanliness
                        <i class="tip" data-tip-content="The physical condition of the business"></i>
                    </div>
                    <div class="sub-rating-stars">

                        <div class="clearfix"></div>
                        <div class="leave-rating">
                            <input type="radio" name="cleanliness" id="rating-cleanliness-5" value="5">
                            <label for="rating-cleanliness-5" class="fa fa-star"></label>
                            <input type="radio" name="cleanliness" id="rating-cleanliness-4" value="4">
                            <label for="rating-cleanliness-4" class="fa fa-star"></label>
                            <input type="radio" name="cleanliness" id="rating-cleanliness-3" value="3">
                            <label for="rating-cleanliness-3" class="fa fa-star"></label>
                            <input type="radio" name="cleanliness" id="rating-cleanliness-2" value="2">
                            <label for="rating-cleanliness-2" class="fa fa-star"></label>
                            <input type="radio" name="cleanliness" id="rating-cleanliness-1" value="1">
                            <label for="rating-cleanliness-1" class="fa fa-star"></label>
                        </div>
                    </div>
                </div>

                <div class="uploadButton margin-top-15">
                    <input class="uploadButton-input" type="file" name="attachments[]" accept="image/*, application/pdf"
                        id="upload" multiple="">
                    <label class="uploadButton-button ripple-effect" for="upload">Add Photos</label>
                    <span class="uploadButton-file-name"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 comment-form-author"><label for="author">Name <span
                            class="required">*</span></label> <input id="author" name="author" type="text" required=""
                        value="" size="30" aria-required="true">
                </div>
                <div class="col-md-6 comment-form-email"><label for="email">Email <span
                            class="required">*</span></label> <input id="email" name="email" type="email" required=""
                        value="" size="30" aria-required="true">
                </div>
            </div>
            <p class="comment-form-comment"><label for="comment">Comment <span class="required">*</span></label>
                <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required=""></textarea>
            </p>
            <div class="row">
                <div class="form-row col-md-12 captcha_wrapper">
                    <div class="g-recaptcha" data-sitekey="6LdQ44oUAAAAAIAOew1cUXBWPv2hrtuBGOH0Qg-D"></div>
                </div>
            </div>
            <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent"
                    name="wp-comment-cookies-consent" type="checkbox" value="yes"><label
                    for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the
                    next time
                    I comment.</label></p>
            <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Submit Review">
                <input type="hidden" name="comment_post_ID" value="578" id="comment_post_ID">
                <input type="hidden" name="comment_parent" id="comment_parent" value="0">
            </p>
        </form>
    </div>
</div>